@tailwind base;

@tailwind components;

@tailwind utilities;

.pr-20 {
  padding-right: 10rem;
}

.main-block {
  background-image:
    url("../img/ar-info.png"),
    linear-gradient(to right, #accbee, transparent),
    radial-gradient(circle at right, transparent, #fff),
    url("../img/ar-info-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.main-block-secondary {
  background: #accbee;
}
